/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.vscode
*.zip
*.log
*.sql
err.html
curl_output.txt
error.txt
output_views.txt
tables.txt
test_output.txt
zip_deploy.php
create_zip.php
  
 